.main-page {

    width: var(--page-width);
    box-sizing: border-box;

    margin-block: 1vh;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;

    .left-body {

      width: 80%;

      display: flex;
      flex-direction: column;
    }

    .right-body {
      width: 20%;
      background-color: orange;
      border: var(--borders-size) solid var(--details-color);
      border-radius: var(--borders-radius);
    }
  }

@media (max-width: 1024px) {

    .main-page {

      flex-direction: column;

      .left-body {
        width: 100%;
      }

      .right-body {
         width: 100%;
      }
    }
  }
