.user-settings {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .user-info {
    padding: 5px;
    text-decoration: none;
    /* Adjusted text color */
  }
  
}




