.user-settings {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .user-info {
    padding: 5px;
    text-decoration: none;
    /* Adjusted text color */
  }

  .user-authorities {
    margin: 0px;
    padding: 0px;
  } 

  
}




