.lorem {
    text-align: center;
    font-family: cursive;
    line-height: 1em;
    font-size: 20px;

    padding-inline: 10%;

    color: black;
    text-shadow:
        1px 1px 2px black,
        0 0 1em white,
        0 0 0.2em white;

    @media (max-width: 1024px) {
        width: 30%;
        padding-inline: 1%;
    }

    @media (max-width: 700px) {
        width: 100%;
    }

}

.frame {
    position: relative;

    width: 100%;
    height: 20%;

    @media (max-width: 1024px) {
        width: min(300px, 100%);
    }


    .portrait-background {
        position: relative;

        transform: translate(5%, -1.5%) scale(1.2);

        width: 100%;
        height: 100%;
    }

    .portrait-blur,
    .portrait {
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%) scale(1.3);

        height: 80%;

        @media (max-width: 1024px) {
            height: auto;
            width: 50%;
        }
    }


    .portrait-blur {
        filter: brightness(0) invert(1) blur(5px);
        -webkit-filter: brightness(0) invert(1) blur(5px);
    }
}

.divider {



    width: 90%;
    height: .1%;
    background-color: gray;
    border-radius: var(--borders-radius);

    margin-top: auto;
    margin-bottom: 5%;

    @media (max-width: 1024px) {
        display: none;
    }
}

.blocks {

    display: flex;
    flex-wrap: wrap;

    width: 100%;

    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
        width: auto;

    }

    @media (max-width: 700px) {
        flex-grow: 1;
        margin-top: 5%;
    }

    .block {

        aspect-ratio: 1/1;

        width: 40%;
        margin: 3%;

        border: var(--borders-size) solid black;
        border-radius: var(--borders-radius);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        @media (max-width: 1024px) {
            width: clamp(80px, 30%, 160px);
        }
    }
}