.selector {

    --selected-color:thistle;

    position: relative;
    width: 100%;

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;

    & p {
        text-align: left;
        margin: 0;
        margin-left: .5em;
    }

    .select {
        padding: .3em;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after{
            content: "O";
            margin-right: .5em;
        }

        &:hover {
           
            background-color: var(--selected-color);
        }

        &.active{

            background-color: var(--selected-color);

            &::after{
                content: "X";
            }
        }
    
    }

    .options {
 
        display: flex;
        flex-direction: column;
        align-items: center;
        
        overflow-y: auto;
        gap:.2em;
        padding-block: .2em;
        
        width: 100%;
        max-height: 5em;

        .option {
            width: calc(100% - 1em);
            padding: .3em;
            border-radius: 5px;


            &:hover {

                background-color: var(--selected-color);
                & p {
                    font-weight: bold;
                }
            }

            &.selected {

                background-color: var(--selected-color);
            }
        }
    }

}