.field {
    position: relative;
   
    & input {
        padding: 4px;
        border: 1px solid #ccc; 
        height: 15px;

        &.shake {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }

    .feedback {
        position: absolute;

        /* transform: translate(-100%,-25px); */
    }


    &.invalid {

        & input:not(:focus)~.feedback {
            transform: scale(0);
        }

        & input {
            outline-color: #e74c3c;
            border-color: #e74c3c;
        }
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}