.dropdown {

  position: relative;
  display: flex;

  .dropdown-image {

    position: relative;

    & img {
      width: 32px;
      aspect-ratio: 1;

      border-radius: 50%;
      border: 2px solid transparent;

      transition: transform 0.2s;
    }
  }

  .dropdown-content {
    position: absolute;
    background-color: #f0f0f0;
    /* Adjusted background color */
    color: #808080;

    width: 200px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
    border: 2px dotted black;
    padding: 1%;

    transform: translateY(40px) scaleY(0);
    transform-origin: top;
    transition: transform 0.1s ease;

  }

  &.disable {

    .dropdown-image {
      & img {
        transform: scale(.9);

      }

      &::after {
        content: "";

        position: absolute;

        width: 110%;
        height: 10%;

        border-radius: 5px;

        top: 45%; right: 50%;
        transform: translate(50%,-50%) rotate(-45deg);

        background-color: black;
      }
    }



  }

  &:not(.disable) {

    .dropdown-image img {
      cursor: pointer;
      transform: scale(1);

      &:hover {
        border: 2px solid #808080;
        transform: scale(1.1);
      }
    }


    &.active {
      .dropdown-content {
        transform: translateY(40px) scaleY(1);
        transition: transform 0.3s ease;
      }

      .dropdown-image img {
        border: 2px solid #f0f0f0;
        transform: scale(1.1);
      }
    }

  }


}