
.dropdown {

  position: relative;

  display: flex;

  & img {
    width: 32px;
    height: 32px;
    
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s;

    &:hover {
      border: 2px solid #f0f0f0;
      transform: scale(1.1);
    }

  }

  .dropdown-content {
    position: absolute;
    background-color: #f0f0f0;
    /* Adjusted background color */
    color: #808080;

    width: 200px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
    border: 2px dotted black;
    padding: 1%;

    transform: translateY(40px) scaleY(0);
    transform-origin: top;
    transition: transform 0.1s ease;

  }

  &.active {
    .dropdown-content {
        transform: translateY(40px) scaleY(1);
        transition: transform 0.3s ease;
    }
    
    & img {
        border: 2px solid  #808080;
        transform: scale(1.1);
      }
  }
}
