.user-content {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 1em;

    padding: 1em;

    .divider {
        width: 100%;
        border-bottom: 2px solid black;
        /* Adjusted color */
        margin-block: 5px;
    }

}