.feedback {
    color: #e74c3c;
    font-size: 12px;
    background-color: #FFD5D5;
    border: 1px solid #e74c3c;
    border-radius: 10px;
    padding: .5em;

    z-index: 1;
    white-space: pre-line;

    transform: scale(1);
    transform-origin: center;
    transition: transform 0.1s ease;

    &:empty{
        visibility: hidden;
        transform: scale(0);
    }
}