:root {
    --bar-color: #333;
    --bar-details-color: #f0f0f0;
    --bar-details-color2: #808080;
    --bar-feedback-color: #e74c3c;
    --bar-feedback-color2: #FFD5D5;

    
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bar-details-color);
    margin: 0;
    text-align: center;
    user-select: none;
}

.top-bar {

    width: 100%;

    background-color: var(--bar-color);
    color: var(--bar-details-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom: 2px solid gray;*/



    .left-items {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;

        margin: 5px;

        &>*:not(:last-child) {
            margin-right: 8px;
        }

        &>*:not(:first-child) {
            margin-left: 8px;
        }

    }

    .right-items {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

        margin: 5px;

        .dropdown-content {
            translate: -85%;
        }
    }

    .dropdown {

        & img {
            width: 32px;
            /* Adjusted size */
            height: 32px;
            /* Adjusted size */
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid transparent;
            transition: transform 0.2s;

            &:hover {
                border: 2px solid var(--bar-details-color2);
                transform: scale(1.1);
            }

            &.active {
                border: 2px solid var(--bar-details-color);
                transform: scale(1.1);
            }

            &.rotate {
                transform: rotate(90deg);
                /* Rotate image when dropdown opens */
                transition: transform 1s ease;
                /* Smooth rotation transition */
            }

            &.inv-rotate {
                transform: rotate(-90deg);
                /* Rotate image when dropdown opens */
                transition: transform 0.3s ease;
                /* Smooth rotation transition */
            }
        }

        .dropdown-content {
            position: absolute;
            background-color: var(--bar-details-color);
            /* Adjusted background color */
            color: var(--bar-details-color2);

            width: 200px;

            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 20px;
            padding: 1%;
            margin-top: 1%;

            transform: scaleY(0);
            /* Initially hide the dropdown with scaleY */
            transform-origin: top;
            /* Set transform origin */
            transition: height .1s, transform 0.2s ease;
            /* Smooth animation */

            &.active {
                transform: scaleY(1);
                /* Scale dropdown to show */
            }

            .login-form {
                display: flex;
                flex-direction: column;

                align-items: center;

                & h2 {
                    margin: 5px;
                }

                & input {
                    padding: 5px;
                    border: 1px solid var(--bar-details-color2);

                    &:not(:nth-of-type(1)) {
                        margin-top: 5px;
                    }
                }

                .form-feedback {
                    color: var(--bar-feedback-color);
                    width: 90%;
                    font-size: 12px;

                    margin-top: 7px;
                    background-color:  var(--bar-feedback-color2);
                    border-radius: 10px;


                    transform: scaleX(0);
                    transform-origin: center;
                    transition: transform 0.1s ease;

                    &.active {
                        transform: scaleX(1);
                        border: 1px solid  var(--bar-feedback-color);
                    }
                }

                .form-link {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: end;
                    width: 100%;

                    & a {
                        text-decoration: none;

                        cursor: pointer;
                        color: var(--bar-details-color2);
                        font-size: 8px;
                        margin: 0px;


                        &:hover {
                            font-weight: bold;
                        }
                    }

                }

            }

            .dropdown-item {
                padding: 10px;
                text-decoration: none;
                /* Adjusted text color */
            }

            .divider {
                width: 100%;
                border-bottom: 1px solid var(--bar-details-color2);
                /* Adjusted color */
                margin: 5px 0px;
            }

            .dropdown-btn {
                all: unset;

                color:  var(--bar-feedback-color);
                /* Text color */
                text-align: center;

                border-style: solid;
                border-color: var(--bar-details-color);

                cursor: pointer;
                font-weight: normal;
                /* Normal font weight by default */
                transition: font-weight .2s;
                /* Smooth transition for font-weight change */

                &:hover {
                    font-weight: bold;
                    /* Bold font weight on hover */
                }

                &:focus {
                    outline: revert;
                }
            }
        }
    }
}