<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-links">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/header.css" />
    <script src="/static/js/header.js"></script>
</head>

<body>
    <div th:fragment="header" class="top-bar">
        <div id="servicesWrapper" class="left-items"></div>
        <div class="right-items">
            <div class="dropdown">
                <img src="/static/images/header/user.png" onclick="toggleDropdown(this)">
                <div class="dropdown-content">
                    <div class="req-logout">
                        <form onsubmit="login(event)" class="login-form">
                            <h2>Login</h2>
                            <input type="text" class="form-username" placeholder="Username" required>
                            <input type="password" class="form-password" placeholder="Password" required>
                            <!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
                            <div class="form-feedback"></div>
                            <div class="form-link">
                                <a href="/register">REGISTER</a>
                                <button type="submit" class="dropdown-btn">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="req-login">
                        <div class="dropdown-item" id="userName"></div>
                        <div class="dropdown-item" id="userEmail"></div>
                        <div class="divider"></div>
                        <button onclick="logout()" class="dropdown-btn">Logout</button>
                    </div>
                    <div class="divider"></div>
                    <button onclick="refreshHeader()" class="dropdown-btn">Refresh Header</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>