<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User login</title>
    <link rel="icon" type="image/png" href="/static/images/authicon.png">

    <th:block th:insert="~{header :: header-links}"></th:block>

    <script src="/static/js/home/colorTheme.js"></script>
    <script src="/static/js/home/main.js"></script>
    <script src="/static/js/home/swipe.js"></script>
    <script src="/static/js/home/graphs.js"></script>

    
    <link rel="stylesheet" href="/static/css/home.css" />
</head>

<body>
    <div class="left-body">
        <header th:insert="~{header :: header}"></header>
        <div id="panel1">
            <h1> Lorem ipsum, dolor sit amet consectetur adipisicing elit!</h1>
            <div>
                <button class="day" onclick="setColors(true)"> Day </button>
                <button class="night" onclick="setColors(false)"> Night </button>
            </div>
        </div>
        <div id="panel2">
            <div id="frame1">
                <div class="spider-graph"></div>
            </div>
            <div id="frame2"></div>
        </div>
        <div id="panel3">
            <button onclick="swipeLeft(event)">&lt;</button>
            <div class="middle-panel">
                <div class="display-wrapper">
                    <!-- <div class="display">1</div> -->
                </div>
            </div>
            <button onclick="swipeRight(event)">&gt;</button>
        </div>
    </div>
    <div class="right-body">
        <div class="frame">
            <img src="/static/images/home/portrait_background.png" class="portrait-background">
            <img src="/static/images/home/portrait.png" class="portrait-blur">
            <img src="/static/images/home/portrait.png" class="portrait">
            <p class="lorem"> André Alão </p>
        </div>
        <div class="divider"></div>
        <div class="blocks">
            <div class="block">Block 1</div>
            <div class="block">Block 2</div>
            <div class="block">Block 3</div>
            <div class="block">Block 4</div>
        </div>
        <p class="lorem">
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. 
            Labore omnis recusandae similique delectus non deserunt, 
            tenetur ex perferendis dicta sed perspiciatis nihil! Saepe ipsam, 
            fuga nulla molestias porro delectus quo! 
        </p>
        <div class="divider"></div>

    </div>
</body>

</html>