<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users index</title>
    <link rel="icon" type="image/png" href="/static/images/authicon.png">

    <th:block th:insert="~{header :: header-links}"></th:block>

    <link rel="stylesheet" href="/static/css/index.css">

    <script src="/static/js/index.js"></script>

</head>

<body>
    <header th:insert="~{header :: header}"></header>
    <div class="container">
        <h1>Users List</h1>
        <div class="user-list" id="userList">
            <!-- Users will be dynamically added here -->
        </div>

</body>

</html>