<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register new User</title>
    <link rel="icon" type="image/png" href="/static/images/authicon.png">

    <th:block th:insert="~{header :: header-links}"></th:block>

    <link rel="stylesheet" href="/static/css/register.css" />
    <script src="/static/js/register.js"></script>
</head>
<body>
    <header th:insert="~{header :: header}"></header>
    <div class="page-center">
        <form onsubmit="register(event)" class="reg-form">
            <h2>Create Account</h2>
            <div class="reg-field" id="reg-username">
                <input type="text" placeholder="Username" required>
                <div class="feedback"></div>
            </div>
            <div class="reg-field" id="reg-email">
                <input type="text" placeholder="Email" required> 
                <div class="feedback"></div>
            </div>
            <div class="reg-field" id="reg-password">
                <input type="password" placeholder="Password" required>
                <div class="feedback"></div>
            </div>
            <!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
            <div class="feedback" id="reg-feedback"></div>
            <button type="submit" class="dropdown-btn">Register</button>
        </form>
    </div>
    
</body>
</html>
