.form-link {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 90%;

    & a {
      text-decoration: none;

      cursor: pointer;
      color: var(--bar-details-color2);
      font-size: 8px;
      margin: 0px;

      &:hover {
        text-decoration: underline;
      }
    }
}

.submit-btn {
    all: unset;
    text-align: center;
    font-weight: normal;
    transition: font-weight 0.2s;

    &:not(:disabled){

      color: var(--bar-feedback-color);
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
  
      &:focus {
        outline: revert;
      }
    }
}