#panel3 {

    display: flex;
    gap: .5em;

    aspect-ratio: 2/1;

    @media (min-width: 700px) {
        aspect-ratio: 5/2;

    }

    @media (min-width: 1024px) {
        aspect-ratio: 10/3;
    }


    &>button {
        all: unset;

        min-width: 1%;

        border: var(--borders-size) solid var(--details-color);
        border-radius: var(--borders-radius);

        color: var(--details-color);
        padding: .5em;

        font-weight: bold;
        text-align: center;

        cursor: pointer;

        @media (max-width: 512px) {
            display: none;
        }

        &:hover {
            background-color: var(--details-color);
            color: var(--main-color);
            border-color: var(--main-color);
        }

    }

}