:root {
   /*App use effect will create and override those*/

  --main-color: ;
  --main-color2: ; 
 
  --details-color: ;
  --details-color2: ;

  --page-width: calc(max(min(1200px,87vw),56vw));
  --borders-size: 2px;
  --borders-radius: 15px;
}

body{
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  user-select: none;
}

#root {

  background-color: var(--main-color);

  min-width: 100%;
  min-height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;

  .page-body {
    width: var(--page-width);
    box-sizing: border-box;

    margin-block: 1em;

  }

}