:root {
   /*App use effect will create and override those*/

  --main-color: ;
  --main-color2: ; 
 
  --details-color: ;
  --details-color2: ;

  --page-width: calc(max(min(1200px,87vw),56vw));
  --borders-size: 2px;
  --borders-radius: 15px;
}

body{
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  user-select: none;
}

#root {

  background-color: var(--main-color);

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;

  .page {

    width: var(--page-width);

    margin-block: 1vh;
    padding: 1em;

    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1em;

    .left-body {

      width: 80%;

      display: flex;
      flex-direction: column;
    }

    .right-body {
      width: 20%;
      background-color: orange;
      border: var(--borders-size) solid var(--details-color);
      border-radius: var(--borders-radius);
    }
  }
}

@media (max-width: 1024px) {
  #root {

    .page {

      flex-direction: column;

      .left-body {
        width: 100%;
      }

      .right-body {
         width: 100%;
      }
    }
  }
}