:root {
    --bar-color: #333;
    --bar-details-color: #f0f0f0;
    --bar-details-color2: #808080;
    --bar-feedback-color: #e74c3c;
    --bar-feedback-color2: #FFD5D5;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bar-details-color);
    margin: 0;
    text-align: center;
    user-select: none;
}

.top-bar {

    width: 100%;

    background-color: var(--bar-color);
    color: var(--bar-details-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom: 2px solid gray;*/


    .right-items {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

        margin: 5px;

        .dropdown-content {
            translate: -85%;
        }
    }

}
